@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;
@import "./index.css";
@import "./loader.css";

#__next {
  @apply flex flex-col h-screen
}

:root {
  @apply light;
}

.dark {
  --color-bg-primary: theme('colors.dark.grey.primary');
  --color-bg-secondary: theme('colors.dark.grey.secondary');
  --color-text-primary: theme('colors.dark.white.primary');
  --color-text-secondary: theme('colors.dark.white.secondary');
  --color-text-accent: theme('colors.dark.blue.accent');
}

.light {
  --color-bg-primary: theme('colors.light.white.primary');
  --color-bg-secondary: theme('colors.light.white.secondary');
  --color-text-primary: theme('colors.light.grey.primary');
  --color-text-secondary: theme('colors.light.grey.secondary');
  --color-text-accent: theme('colors.light.blue.accent');
}

html {
  @apply bg-white w-screen;
}

body {
  @apply bg-secondary w-screen min-h-screen;
}

header {
  @apply bg-primary;
}

main {
  @apply flex-grow
}

footer {
  @apply bg-primary;
}

h1 {
  @apply font-bold text-primary text-xl;
}

p {
  @apply text-secondary;
}

a {
  @apply text-secondary font-semibold;
}

a:hover {
  @apply text-accent;
}

button {
  @apply text-secondary font-semibold;
}

button:hover {
  @apply text-accent;
}
