#__next {
  @apply flex flex-col min-h-screen
}

:root {
  @apply light;
}

.dark {
  --color-bg-primary: theme('colors.dark.gray.primary');
  --color-bg-secondary: theme('colors.dark.gray.secondary');
  --color-bg-outstanding: theme('colors.dark.blue.outstanding');
  --color-bg-cards: theme('colors.dark.white.secondary');
  --color-text-primary: theme('colors.dark.white.primary');
  --color-text-secondary: theme('colors.dark.white.secondary');
  --color-text-accent: theme('colors.dark.blue.accent');
  --color-text-default: theme('colors.dark.white.default');
  --color-text-selected: theme('colors.dark.gray.selected');
}

.light {
  --color-bg-primary: theme('colors.light.white.primary');
  --color-bg-secondary: theme('colors.light.white.secondary');
  --color-bg-outstanding: theme('colors.light.blue.outstanding');
  --color-bg-cards: theme('colors.dark.white.primary');
  --color-text-primary: theme('colors.light.gray.primary');
  --color-text-secondary: theme('colors.light.gray.secondary');
  --color-text-accent: theme('colors.light.blue.accent');
  --color-text-default: theme('colors.light.gray.default');
  --color-text-selected: theme('colors.light.white.selected');
}

html {
  @apply bg-white min-w-max w-screen h-screen;
}

body {
  @apply bg-secondary w-screen;
}

header {
  @apply bg-primary;
}

main {
  @apply flex-grow;
}

footer {
  @apply bg-primary mt-3;
}

h1, h2, h3, h4, h5 {
  @apply font-bold text-primary;
}

p {
  @apply text-secondary;
}

a {
  @apply text-secondary font-semibold;
}

a:hover {
  @apply text-accent;
}

button {
  @apply text-secondary font-semibold;
}

button:hover {
  @apply text-accent;
}

@keyframes lazy-ease{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes lazy-grow {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

img[loading=lazy] {
  animation: lazy-ease 5s;
}

.lazy-text {
  animation: lazy-ease 3s;
}

.lazy-grow {
  animation: lazy-grow 3s;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;
@import "./index.css";
@import "./loader.css";

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }

}

.withBlur:hover {
  display: block;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}

.normal-card{
  display: flex;
  flex-wrap: wrap;
  place-items: center ;
  margin: 10px;
  z-index: 2;
}

.expanded-card{
  position: absolute;
  max-height: max-content;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  padding: 3rem;
}

.expanded-card-h{
  font-size: 27px;
  place-self: end center;
}

.expanded-card p {
  place-self:  start center;
}
